<div style="margin: 0 auto; width: 960px;">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions",:class => "btn btn-info" %></div>
<% end %>
  
  <% if request.fullpath == '/superadmins/password' || request.fullpath == '/superadmins/password/new' %>
  <%= link_to "Admin Signin",  new_superadmin_session_path %>
  <% else %>
  <%= render "devise/shared/links" %>
  <% end %>
</div>
