<% unless roles.empty? %>
  <table class ="table table-striped">
    <tr>
      <th><%= t('.role')%></th>
      <th><%= t('.customer')%></th>
      <th><%= t('.job')%></th>
      <th><%= t('.jobtime')%></th>
      <th><%= t('.contact')%></th>
      <th><%= t('.report')%></th>
      <th><%= t('.admin')%></th>
      <th><%= t('.option')%></th>
    </tr>

    <% roles.each do |role| %>
      <tr id="role_<%= role.id %>">
        <td><%= role.roll %></td>
        <td><%= role.customer %></td>
        <td><%= role.jobs %></td>
        <td><%= role.jobtimes %></td>
        <td><%= role.contacts %></td>
        <td><%= role.reports %></td>
        <td><%= role.settings_admin%> </td>
        <td>
          <%= link_to t('roles.roles.edit'), edit_role_path(role), :remote => true, :class => "btn btn-mini btn-primary" %>
          |
          <%= link_to t('roles.roles.delete'), role, method: :delete, data: { confirm: t('.del') }, remote: true, :class => "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
