<%= form_for "form2" do |f|%>
  <%= f.select :actions, options_for_select([[t('.action'), ""], [t('.add_customer'), new_customer_path],
      [t('.add_jobsite'), new_jobsite_path] ,[t('.add_job'), new_job_path] , [t('.add_note'), notes_path(:type => "Customer")], ["Add Contact", new_contact_path],
      [t('.add_doc'), documents_path(:type => "Customer")]])
  %>
<% end %>
<p><span style = "color:#0044cc; font-weight: bold;"> Job # : <%= params[:controller] == "jobs" && params[:action] == "new" ? '' : session[:job_id] %>  </span></p>
<div style="width:435px; font-weight: bold;">  
  <p>
    <% if @customer == nil %>
      <span style="color:red">Please select customer for this job !</span><br/>
    <% else %>
      <%= link_to ("Customer :  #{@customer.company_name}, #{@customer.address1} #{@customer.city},#{@customer.state},#{@customer.zip} "),edit_customer_path(@customer)%>
    <% end %>
  </p>
  <p>
    <% if @jobsite == nil %>
    <% else %>
      <%= link_to ("Job Site : #{@jobsite.name},#{@jobsite.city},#{@jobsite.state},#{@jobsite.zip} "), edit_jobsite_path(@jobsite) %>
    <% end %>
  </p>
</div>

<script>
  $(document).ready(function(){
    $('#form2_actions').change(function(){
      location.href = $(this).val();
    });
  });
</script>
